body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color:rgb(211, 211, 211);
    padding: 10px, 10px;
    gap: 10px;
}


#mydiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 20px;
    color: black;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    max-width: 500px; 
    height: auto; 
    overflow: auto; 
    border-radius: 8px;
    padding: 20px; 
  }

  @media (max-width: 768px) {
    #mydiv {
      font-size: 16px;
    }

  }
.text:focus {
    outline: none;
  }
  
#colors{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
text-align: center;
width: 50vw;
}

#download-btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background-color: rgb(207, 207, 207);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
  }
  
#download-btn:hover{
    background-color: rgb(207, 207, 207);
  }
  
#download-btn:active{
    transform: translateY(2px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  }
  